<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моды и русурспаки</title>
     <style>
        p {
            font-size: 24px;
        }
    </style>
</head>
<body>
<a href="{{url_for('osnova')}}">Основная часть</a>
<a href="{{url_for('index')}}">Вступление</a>

<h1>Ниже будет список интерестных модов и их описание.</h1>
<a href="#Thaumcraft">Thaumcraft</a> <br>


<a href="#Create">Create</a><br>
<a href="#The Twilight Forest"> The Twilight Forest</a><br>
<a href="#MrCrayfish's Furniture">MrCrayfish's Furniture</a><br>
<a href="#Ice and Fire: Dragons">Ice and Fire: Dragons</a>

<h2 id="Thaumcraft">Thaumcraft</h2>
<p>Позволяет почувствовать себя настоящим магом. Изучайте магическую энергию (вис), создавайте палочки, алхимические зелья и сложные големы для помощи по хозяйству.</p>

<h2 id="Create">Create</h2>
<p>Невероятно красивый мод, добавляющий механическую энергию (шестеренки, ремни, валы). Позволяет создавать сложные анимированные постройки, гигантские поезда и полностью автоматизированные фермы.</p>

<h2 id="The Twilight Forest">The Twilight Forest</h2>
<p>Добавляет целое гигантское измерение — заколдованный Сумеречный лес. Там вас ждут густые заросли, уникальные данжи, боссы и ценные награды.</p>

<h2 id="MrCrayfish's Furniture">MrCrayfish's Furniture</h2>
<p>: Добавляет в игру десятки реалистичных предметов мебели и бытовой техники (телевизоры, диваны, стулья, компьютеры), чтобы обустроить ваш дом.</p>

<h2 id="Ice and Fire: Dragons">Ice and Fire: Dragons</h2>
<p>Спавнит в мире опасных и реалистичных драконов (ледяных и огненных), а также других мифических существ (гидр, горгон). Вы сможете выращивать собственных драконов.</p>















































</body>
</html>